.article#article-show{data: {article_id: @article.id}}
  - if @article.eyecatch.attached?
    -# articleの記事にアイキャッチ画像が設定されていたら
    .article_image
      = image_tag @article.eyecatch
      -# アイキャッチ画像を表示
  %h1.article_title= @article.title
  .article_detail
    = link_to account_path(@article.user) do
      -# 他のアカウントのプロフィールにリンクを飛ばしている
      = image_tag @article.user.avatar_image
      -# imgの画像のアカウントの選択
    %div
      %p= @article.author_name
      -# article.rbでauthor_nameの内容を書いている
      %p= @article.display_created_at
      -# 上のdisplay_created_atと入力すると日付の表示ができるようにarticle.rbで設定した。@articleでarticle.rbの設定が適用されている
      - if user_signed_in? && current_user.has_written?(@article)
        -# if user_signed_in?でログインしていたら、かつ、current_userで登録したユーザーの取得、has_written?(@article)でuser.rbで作成した情報を持ってきている。has_written?はコードがわかりやすくなるためにこのようにしている
        .article_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtb'
            .dropdown-content.mini
              = link_to '編集する', edit_article_path(@article)
              -# 上の文の@articleはidを指定しないといけないため人ようとなる
              = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}
              -# link_toでは基本的にgetメソッドになってしまうためmethod: 'delete'でメソッドを指定してあげなければならない
              -# 上の文の@articleはidを指定しないといけないため必要となる

  .artcle_content
    = @article.content
  - if user_signed_in?
    -# もしサインインしていたら
    .article_heart.hidden.active-heart
      -# クラスのhiddenをscssで表示を消す用事してクリックされたら表示するようにする
      = image_tag 'heart-active.svg'
      -# heart-active.svgの表示
    .article_heart.hidden.inactive-heart
      = image_tag 'heart.svg'
      -# heart.svgの表示

.article
  %h2= I18n.t('articles.comment_list')
  -# localesのarticlesの中のcomment_listを表示する
  .comments-container

.container
  .btn-secondary.show-comment-form
    コメントを追加
  .comment-text-area.hidden
    = text_area_tag :comment_content, '', class: 'sm'
    -# railsルールでtext_area_tegはテキストエリアのタグを作成するためもの。comment_contentは名前。''の中は初期値。class: 'sm'で短めのテキストエリア。
    .btn-secondary.add-comment-button
      コメントを追加

= javascript_pack_tag 'article'
-# javascriptのpackの中のarticleを読み込める