.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
      -# image_tagでアイコンの表示、current_userでログインされていれば、avater_imageの表示

    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{user.display_name}（#{user.age || '？歳'}・#{I18n.t("enum.genders.#{user.gender || 'unknown'}")}）
          -# @userで選択しているユーザーの、display_nameやageなどは他のフォルダーから持ってきている。
          -# １行に対して色々な文字を入れたい場合は#{}を使う
          -# I18n.tでymlフォルダーを表示という意味、enum.ja.ymlフォルダーのenumの中のgendersの中を表示、ログインされているプロフィールの性別。
        .profilePage_user_actionButton
          - if user == current_user
            -# もしユーザーが自分のログインしているユーザーだったら
            = link_to 'Edit', edit_profile_path
            -# Editで編集画面の表示
          - else
            - if current_user&.has_followed?(user)
              -# &でnillだったら実装しない
              -# ログインしているユーザーがuser.rbで指定した内容のhas_followed?(user)だったら
              = link_to 'Unfollow', account_unfollows_path(user), data: {method: 'post'}
            - else
              = link_to 'Follow', account_follows_path(user), data: {method: 'post'}
              -# Followを表示してフォローできるようにする。フォローしたらaccount_follows_path(user)で選択されているユーザーをフォロー。データーはpost。
      .profilePage_user_introduction
        = user.profile&.introduction

  - user.articles.each do |article|
    -# @userで選択しているユーザーの値を取得、articles.each doでarticleの記事情報を取得、|article|で値をaritcleで表示するという意味。
    = render 'commons/article', article: article
    -# renderで表示、'commons/article’を、articleの値はarticleを取得。